body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #424242;
  padding-top: 58px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}

/*
 *
 * Header
 *
 */

.header {
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #FFFFFF;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
}

.header__inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: 100%;
  flex: 0 0 38px;
  margin: 0;
  padding: 0 20px;
}

.header__title {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  color: #545454;
}

.header__toggle {
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: #444444;
}

#nav__toggle {
  padding: 10px 20px;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 58px;
  right: 0;
  z-index: 99;
  background: #FAFAFA;;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
  transition: top .3s ease-out;
}

.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  flex: 1 0 48px;
  text-align: center;
  line-height: 24px;
  padding: 17px 0;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  width: 100%;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

.nav.hidden {
  top: -14px;
}

/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin: 0 auto;
}

/*
 *
 * Content
 *
 */

/*
 *
 * Hero
 *
 */

.hero {
  width: 100%;
  position: relative;
  background-image: url("../images/dog.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}

/*
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}

/*
 *
 * Sport Scores
 *
 */

.scores {
  width: 100%;
  padding-top: 1em;
  overflow-x: auto;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em;
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  width: 100%;
  padding: 1em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next {
  display: flex;
  justify-content: space-between;
}

.weather__next__item {
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}

/*
 *
 * Weather
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}