@media screen and (min-width: 768px) {

  /* Flex Layout */
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    order: 1;
  }

  .weather {
    order: 2;
  }

  .news.top-news {
    order: 3;
  }

  .scores {
    order: 4;
  }

  .news {
    order: 5;
  }

  .news.top-news, .weather {
    flex: 0 1 calc(50% - .5em);
    margin: 2em .5em 2em 0;
  }

  /* Other styling */
  .hero {
    height: 350px;
  }

}